
body {
    font-family: $font-stack;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    color: $gray;
    padding-top: 0;
    @include font-size(16px);
}

%off {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
}
.off {
  margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
}
a {
  color: $accent--dark;
  &:hover {
    color: $accent--light;
  }
}


.img-auto {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.img-darken {
  mix-blend-mode: darken;
}
.mt--42 {
  margin-top: -42px;
}
.mr-16 {
  margin-right: 16px;
  display: inline-block;
}

.heading-h3 {
  color: $dark-gray;
  @include font-size(58px);
  letter-spacing: -0.015em;
  font-weight: 600;
}
.heading-h4 {
  color: $dark-gray;
  @include font-size(42px);
  letter-spacing: -0.015em;
  font-weight: 600;
}

/*
 * Style tweaks
 * --------------------------------------------------
 */
//html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}


@media screen and (max-width: 767px) {
 
}

@media screen and (min-width: 1399px) {
  .container {
    max-width: 1299px;
  }
}
@media screen and (min-width: 1599px) {
  .container {
    max-width: 1399px;
  }
}