#footer-page {
	background-color: #ecf2ff;
	padding-top: calculateRem(124px);
	@include font-size(14px);
	font-weight: 400;
	h5 {
		color: $dark-gray;
		@include font-size(17px);
		font-weight: 600;
		letter-spacing: -0.025em;
		margin-bottom: calculateRem(24px);
	}
	.info-contact--footer {
		@include font-size(14px);
		font-weight: 400;
		a {
			display: block;
			text-decoration: none;
			color: $gray;
			&:hover {
				color: $primary-color;
				text-decoration: none;
			}
		}
	}
}

.nav-footer {
	padding-left: 0;
	list-style: none;
	line-height: 2em;
	a {
		color: $gray;
		font-weight: 400;
		@include font-size(14px);
		&:hover {
			color: $primary-color;
			text-decoration: none;
		}
	} 
}

.copyright {
	padding: 24px 0;
	margin-bottom: 0;
	color: $gray;
	font-weight: 400;
	@include font-size(14px);
	a {
		color: $dark-gray;
	}
}
