

.hero {
    .hero-content {
       padding-top: calculateRem(82px);
       padding-bottom: calculateRem(62px); 
       h1 {
           color: $dark-gray;
           @include font-size(58px);
           wimargin-bottom: calculateRem(42px);
           letter-spacing: -0.01em;
           font-weight: 600;
       }
       p {
           @include font-size(18px);
       }
    }
    .hero-image {
        height: 100%;
        display: flex;
        align-items: flex-end;
        position: relative;
        height: 100%;
        &:after,
        &:before {
            position: absolute;
            content: '';
            display: inline-block;
            background-repeat: no-repeat;
            background-size: contain;
        }
        &:after {
            width: 169px;
            height: 99px;
            background-image: url('../img/assets/screen-01.png');
            top: 0;
            left: -124px;
        }
        &:before {
            width: 194px;
            height: 144px;
            background-image: url('../img/assets/screen-02.png');
            top: 32px;
            right: -124px;
        }
    }
    .border-pink {
        width: 100%;
        padding: calculateRem(32px);
        text-align: center;
        background-color: #a7a5ef;
        border-bottom-left-radius: 42px;
        border-bottom-right-radius: 42px;
    }
}




.play-video-component {
    margin: 12px 24px 0 auto;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    .play-video-component--inner {
        display: -ms-flexbox;
        display: flex;
        flex-wrap: nowrap;
        .play-video--icon {
            width: 98px;
            height: 98px;
            position: relative;
            svg {
                transition: 300ms transform ease;
            }
            &:before {
                content: '';
                position: absolute;
                width: 98px;
                height: 98px;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0) scale(0);
                background-color: rgba(255,255,255, 0.25);
                transition: 300ms transform ease;
            }
        }
        .play-video--body {
            padding-left: 14px;
            align-self: center;
            text-align: left;
            p {
                margin: 0;
                color: #fff;
                font-size: 13px;
                font-weight: 900;
                transition: 300ms color ease;
            }
            span {
                margin: 0;
                color: #fff;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 900;
                transition: 300ms color ease;
            }
        }
        &:hover {
            text-decoration: none;
            .play-video--icon {
                svg {
                    transform: scale(0.75);
                }
                &:before {
                    transform: translate3d(-50%, -50%, 0) scale(1);
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .hero {
        .hero-content {
           padding-top: calculateRem(42px);
           padding-bottom: calculateRem(32px); 
        }
    }
}

.full-content {
    .full-content--inner {
        display: -ms-flexbox;
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        &:after, 
        &:before {
            content: '';
            position: absolute;
            left: 0;
            height: 24px;
            width: 35%;
            background-color: #ecf2ff;
            display: inline-block;
        }
        &:before {
            top: -24px;
            border-top-right-radius: 62px;
        }
        &:after {
            bottom: -24px;
            border-bottom-right-radius: 62px;
        }
    }
    .content-img {
        flex: 0 0 50%;
        background-image: url('../img/assets/rawpixel-660716-unsplash.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 240px;
        position: relative;
        overflow: hidden;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
        
        &.content-overlay {
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-color: $primary-color;
                opacity: 0.7;
                z-index: 2;
            }
        }
        .content-img--inner {
            position: relative;
            z-index: 3;
            height: 100%;
            display: -ms-flexbox;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            text-align: right;
            flex-wrap: nowrap;
            padding: 32px;
            padding-right: 0;
            .title-cut {
                @include font-size(135px);
                color: #fff;
                display: block;
                letter-spacing: -0.025em;
                font-weight: 700;
                transform: translateX(92px);
                transition: 300ms transform ease-in-out;
            }
        }
        &:hover {
            .content-img--inner .title-cut {
                transform: translateX(0);
            }
        }
    }
    .content-body {
        flex: 0 0 50%;
        padding-top: calculateRem(82px);
        padding-bottom: calculateRem(82px);
        padding-left: 62px;
        h2 {
            color: $dark-gray;
            font-weight: 600;
            @include font-size(42px);
        }
    }
    
}

@media screen and (max-width: 632px) {
    .full-content .full-content--inner {
        flex-wrap: wrap;
    }
    .full-content .content-img,
    .full-content .content-body {
        flex:0 0 100%;
    }
}
